/* GLOBAL */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #080010;
  color: #fff;
  transition: 0.4s;
}

.light {
  background: #f6f6ff;
  color: #000;
}

/* HEADER */
.header {
  padding: 20px;
  text-align: center;
  background: #111;
  border-bottom: 2px solid #6900ff;
  position: relative;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HAMBURGER */
.menu-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  z-index: 999;
}

.nav {
  display: none;
  flex-direction: column;
  background: #140025;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 999;
}

.nav.show-menu {
  display: flex;
}

.nav a {
  padding: 14px;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #260040;
}

.nav a:hover {
  background: #6900ff;
}

/* FORM */
.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding-top: 30px;
}

.form-box input,
.form-box textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  background: #12001f;
  border: 2px solid #6900ff;
  border-radius: 8px;
  color: white;
}

textarea { height: 120px; }

.btn-glow {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #6900ff;
  color: #fff;
  font-size: 20px;
  box-shadow: 0 0 18px #6900ff;
  cursor: pointer;
}

.btn-glow:hover {
  box-shadow: 0 0 25px #a870ff;
}

.warning {
  display: none;
  color: #ff4444;
}

/* COMMENTS */
.comments-box {
  margin-top: 25px;
}

.comment-card {
  padding: 15px;
  background: #170028;
  border-left: 4px solid #8a2bff;
  border-radius: 10px;
  margin-bottom: 12px;
  box-shadow: 0 0 12px #741cff;
  animation: fadeIn .4s ease;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* TRUSTED */
.trusted-section {
  text-align: center;
  margin-top: 40px;
}

.badge {
  display: inline-block;
  padding: 12px 20px;
  margin: 6px;
  border: 2px solid #6900ff;
  border-radius: 8px;
  background: #140026;
  box-shadow: 0 0 15px #6900ff;
}

/* FOOTER */
.footer {
  margin-top: 50px;
  padding: 20px;
  background: #0b0013;
  text-align: center;
  color: #fff;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
